.detail {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.back {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    margin: 8px 0 4px ;
    cursor: pointer;
}

.back:hover {
    text-decoration: underline;
    text-decoration-color: #B00433;
}

.back svg {
    margin-right: 4px;
    height: 50%;
}

.detail h2 {
    font-size: 28px;
}

.detail .artist-display {
    font-size: 18px;
}

.detail small {
    font-size: 12px;
}

.detail ul {
    list-style: none;
    padding: 0;
}

.detail h3 {
    font-size: 18px;
}

.detail p {
    font-size: 14px;
}

@media (min-width:768px) {
    .detail img {
        display: block;
        max-height: 80vh;
        margin: 0 auto;
    }
}

@media (min-width:1024px) {

    .detail .back {
        padding: 0;
        margin: 4px 0 8px;
    }

    .detail a {
        max-width: 50%;
        object-fit: contain;
        margin: 0;
    }

    .detail > article {
        display: flex;
        padding-bottom: 0;
    }

    .detail .content {
        max-width: calc(50% - 16px);
        margin-left: 16px;
        padding: 0;
    }

    .detail li {
        display: flex;
        align-items: baseline;
    }

    .detail h3 {
        margin-right: 16px;
        min-width: 20%;
    }
}