header > img {
    display: none;
}

header > h1 {
    font-size: 28px;
    margin: 16px 0 8px;
}

header > p {
    color: #595959;
    margin: 0;
    font-size: 14px;
} 

@media (min-width:768px) {
    header > img {
        display: initial;
        height: calc(90vw * (9 / 16));
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        margin-top: 16px;
        border: 5px solid #B00433;
    }
}

@media (min-width:1024px) {

    header {
        max-width: 800px;
        margin: 0 auto;
    }

    header > img {
        max-height: calc(800px * (9 / 16));
    }

    header > p {
        font-size: 16px;
    }
}