.pagination {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.pagination-link {
    border: 0;
    background: none;
    padding: 0 6px;
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}

.pagination-link::after{
    content: '/';
    position: absolute;
    display: block;
    right: -2px;
    top: 0;
    color: #000;
}

.pagination-link:focus, .pagination-link:active, .pagination-link.active {
    text-decoration: underline;
    text-decoration-color: #B00433;
    color: #B00433;
}

@media (min-width:1024px) {
    .pagination {
        grid-column: 1 / 4;
    }
}