html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Montserrat', Arial, sans-serif;
}

h1, h2, h3 {
  font-family: 'Lora', 'Times New Roman', serif;
  font-weight: bold;
}

main {
  padding: 0 0 66px;
  scroll-behavior: smooth;
}

main > h2 {
  font-size: 22px;
  margin: 32px auto 16px;
  padding-left: 16px;
  max-width: 1200px;
}

img {
  max-width: 100%;
}

header, section {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

@media (min-width:1024px) {
  main {
    padding-bottom: 0;
  }
  main > *:nth-child(2):not(header){
    margin-top: 72px;
  }
}